server:
  port: 9090
spring:
  application:
    name: zuul-proxy
eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
      
zuul:
  prefix: /api
  routes:
    test-redirect:
      path: /redirect/**
      location: http://www.google.co.in
    by-service:
      path: /services/**
      location: emp-service
    by-client:
       path: /client/**
       location: hr-service
       